html{
	height : 100%;
}

body{
	font-family: sans-serif;
    background-image:url(pic.jpg);
    height : 100%;
}

#perso{
	border-radius: 20px;
	background-color: #333;
	text-align: center;
	padding : 20px;
	margin-bottom: 40px;
	color: white;
	opacity: 0.9;

}

.englobante{
	height : 100%;

}
.englobante:before{
	display: block ;
	height : 10%;
	content : "";

}
#titre{
	color: white;
	text-align: center;
	padding-top: 50px;
}

#carte{
	width: 50%;
	height: 50%;
	margin:0 auto;
}

.navbar-nav {
	width: 100%;
	text-align: center;
	> li {
		float: none;
		display: inline-block;
	}
}
